.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

img {
  width: 100px;
  height: 100px;
}

/* Pokemon */
#pokemon-display {
  margin-left: 30px;
}

.bold {
  font-weight: 600;
}

#pokemon-display p {
  font-size: 2em;
}
